nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2.5rem 2rem;
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(140, 148, 172, 0) 100%);
}
.logo{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.logo-icon{
    font-size: 2.5rem;
}
.logo h1{
    font-size: 2.5rem;
    font-weight: 900;
    color: rgb(58, 58, 58);
    font-family: "Abhaya Libre", serif;
    text-transform: uppercase;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 3rem;
}
.nav-menu li{
    font-size: 1.5rem;
    cursor: pointer;
}

@media(max-width:640px){
    nav{
        background: #fff;
        /* background: linear-gradient(180deg, #FFFFFF 5%, rgba(255, 255, 255, 0) 100%); */
      }
}