*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
}
html{
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
ol, ul{
    /* list-style-type:inherit; */
    padding-left: 0;
}
a{
  text-decoration: none;
  color: black;
}
.blogContainer{
  margin-top: 16rem;
  margin-bottom: 4rem;
}
.blog-title{
  margin-bottom: 1rem;
}
.blog-page{
  width: 55%;
  margin: 7rem auto 7rem auto;
}
.blog-date{
  display: flex;
  align-items: center;
  gap: .7rem;
  font-size: 1.2rem;
  font-weight: 300;
  /* margin-bottom: 1rem; */
}
.writer-name{
  font-size: 1.1rem;
}
.blog-content{
  margin: 2rem 0;
}
.blog-writer-details{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.blog-snippet-image{
  width: 100%;
  margin: 3% auto;
  
}
.blog-snippet-image img{
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
.blog-image{
  width: 100%;
  margin: 5% auto;
}
.blog-image img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.blog-content p , .blog-content li{
  font-size: 1.5rem;
  letter-spacing: -0.06px;
  font-family: "Open Sans", sans-serif;
  line-height: 25px;
  font-weight:normal;
}
.blog-content li{
  margin: .5rem 0;
}
.blog-paragraph{
  margin: 2rem 0;
}
.blog-paragraph ol,.blog-paragraph ul{
  margin: 1rem 2rem;
}
.blog-paragraph li{
  margin: 1rem 0;
}
.blog-paragraph h1, .blog-paragraph h2, .blog-paragraph h3{
  margin-bottom: .7rem;
}
.blog-paragraph p{
  margin-bottom: 1rem;
}
.sub-title{
  font-size: 1.7rem; 
  font-weight: 500;
}
/* footer */
footer{
  display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2.5rem 2rem;
    width: 100%;
    margin: 0 auto;
    /* background: linear-gradient(180deg, #FFFFFF 0%, rgba(140, 148, 172, 0) 100%); */
}
.footer-details{
  display: flex;
  flex-direction: column;
  gap: .7rem;
  font-size: 1.1rem;
}
.footer-icons{
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 2rem;
}
.footer-icons a{
  text-decoration: none;
  color: black;
}
.blog-title{
  font-family: "Abhaya Libre", serif;
  color: rgb(68, 66, 66);
  font-size: 5rem;
}
.reactMarkDown ul li {
  margin-left: 2em;
  display: list-item;
  text-align: -webkit-match-parent;
}
@media (max-width: 640px){
  footer{
    position: static;
  }
  .blog-page{
    width: 100%;
    padding: 0 2rem;
    margin: 4rem 0;
  }
  h1.blog-title {
    font-size: 3rem;
}
.blog-writer-details{
  margin: 1rem 0 1.5rem 0;
}
.blogContainer{
  margin-top: 10rem;
  /* margin-bottom: 4rem; */
}

}